services:
  rabbitmq:
    image: rabbitmq:4.2.0-management-alpine
    container_name: rabbitmq
    ports:
      - "5672:5672" # Стандартный порт для AMQP
      - "15672:15672" # Порт для веб-интерфейса management
    environment:
      # Установка учетных данных по умолчанию (guest/guest)
      - RABBITMQ_DEFAULT_USER=guest
      - RABBITMQ_DEFAULT_PASS=guest
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq

volumes:
  rabbitmq_data:
